*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    user-select: none;
    transition: 0.2s ease-out;
}

body{
    position: relative;
}

.align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: #252a34;
}

.game-mode{
    width: 300px;
    background-color: #2e3440;
    padding: 10px;
    border: 2px solid #3b4252;
    border-radius: 5px;
    color: #eceff4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    /*box-shadow: 4px 4px 12px 0 #3b4252;*/
}

.game-mode  h3{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.game-mode .options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-mode .options button{
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #88c0d0;
}

.game-mode .options button:hover{
    background-color: #81a1c1;
}

.game-mode .options:last-child{
    margin-bottom: 30px;
}

.game{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game #mode{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.settings{
    width: 300px;
    background-color: #2e3440;
    color: #eceff4;
    border: 3px solid #3b4252;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: none;
}

.settings h3{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.settings .level .difficulty{

    background-color: #2e3440;
    color: #eceff4;
    border: 2px solid #3b4252;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;

}

.settings .level .difficulty:hover{
    border: 2px solid #8da5de;
}

.settings .level .difficulty option{
    padding: 10px 15px;
}

.level{
    margin-bottom: 20px;
}

.settings .play button{
    margin-bottom: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #88c0d0;
    
}

.settings .play button:hover{
    background-color: #81a1c1;
}

.turn-container{
    margin-bottom: 20px;
    width: 170px;
    height: 80px;
}

.turn-container h3{
    margin-bottom: 10px;
    text-align: center;
}

.turn-container .turn{
    display: flex;
    align-items: center;
    position: relative;
}

.turn-container .turn .turn-box{
    border: solid #000;
    flex: 1;
    font-size: 1.6rem;
    font-weight: 700;
    z-index: 1;
}

.turn-container .turn .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4b77cd;
    width: 85px;
    height: 32px;
    z-index: 0;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 250px;
    height: 250px;
    border: solid #000;
    /*margin-top: 10px;*/
}

.cell{
    border: 2px solid #000;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.cell:hover{
    background-color: #cfdc57;
}

#play-again{
    margin-top: 20px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4b77cd;
    /*font-weight: 700;*/
    font-size: 1.6rem;
    display: none;
}

#return-home{
    margin-top: 20px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4b77cd;
    /*font-weight: 700;*/
    font-size: 1.6rem;
    /*display: none;*/
}

.modal{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /*padding: 30px;*/
    z-index: 5;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    width: 90%;
    max-width: 360px;
    background-color: #2e3440;
    color :#eceff4;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding-top: 16px;
    overflow-x: hidden;
}

.modal-content::before {
    content: "";
    display: block;
    height: 6px;
    background: #33ddff;
}

.result{
    margin: 40px 24px 32px;
    padding: 16px 20px;
    background-color: #252a34; 
    color: #33ddff;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 8px;
    text-align: center;
}

.modal button {
    margin-bottom: 24px;
    background-color: #24a0ed;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.modal button:hover {
    background-color: #1A6FB3;
}

@media(max-width: 600px){

}